@media (max-width: 1925px) {
  img{
    width: 1920px;
    height: 1080px;
  }
      .bag2, .bag5, .bag6, .bag7{
    top: 43%;
    left: 39%;
    width: 3%;
    height: 5%;
    }

}
@media (max-width: 1500px) {
  img{
    width: 1500px;
    height: 768px;
  }
  .bag{
      top: 39%;
      left: 41%;
    }
}
@media (max-width: 1345px) {
  img{
    width: 1342px;
    height: 768px;
  }
  .bag2{
      top: 53%;
      left: 40.8%;
    }
  .bag5{
      top: 69%;
      left: 34.4%;
    }
  .bag6{
      top: 69%;
      left: 40.7%;
    }
  .bag7{
      top: 69%;
      left: 58.5%;
    }

}
@media (max-width: 1200px) {
  img{
    width: 1112px;
    height: 834px;
  }
  .bag{
      top: 39%;
      left: 39%;

    }
}

@media (max-width: 500px) {
  img{
    width: 375px;
    height: 350px;
  }
  .bag{
      top: 18%;
      left: 39%;
      height: 4%

}
}
.bag2, .bag5, .bag6, .bag7{
  position: absolute;
  z-index: 1000;
}
.zoom-right{
  transform: translateX(100px);
}
